*{
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}


:root{
    --body-color:#efefef;
    --nav-color:#445d7e;
    --bg-color:#fff;
    --font-color:#626262;
}

.dark-theme{
    --body-color:#133349;
    --nav-color:#fff;
    --bg-color:rgb(49, 64, 97);
    --font-color:#ccc;

}


body{
    background:var(--body-color);
    transition: background 0.3s;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--nav-color);
    padding: 5px 5%;
    width: 100%;
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 100;
}
.logo{
    width: 110px;
    margin-right: 45px;
}
.nav-left, .nav-right{
    display: flex;
    align-items: center;
}
.nav-left ul li{
    list-style: none;
    display: inline-block;
}
.nav-left ul li img{
    width: 28px;
    margin: 0 15px;
}

.user-icon img{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.search-box{
    background-color: #efefef;
    width: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    margin: 5px;
}
.search-box img{
    width: 18px;
    
}
.search-box input{
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}
/*دایره کنار پروقایل*/
.online{
    position: relative;
}
.online::after{
    content: "";
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    background:#04db04 ;
}
/*---------*/
/*Container*/
.container{
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;
}
.left-sidebar{
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
 
}
.right-sidebar{
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    background: var(--body-color);
    padding: 20px;
    margin-left: 10px;
    border-radius: 4px;
    color: var(--font-color);
}
.main-content{
    flex-basis: 47%;
}
.imp-links a , .shortcut-links a{
    display: flex;
    text-decoration: none;
    align-items: center;
    margin-bottom: 30px;
    width: fit-content;
    color: var(--font-color);
}
.imp-links a img{
    width: 25px;
    margin-right: 15px;
}
.imp-links a:last-child{
    color: #1876f2;
}
.imp-links {
    border-bottom: 1px solid #ccc;
}
.shortcut-links a img{
    width: 40px;
    border-radius: 4px;
    margin-right: 15px;
}
.shortcut-links p{
    margin: 25px 0;
    color: var(--font-color);
    font-weight: 500;
}

/* Right Sidebar*/

/*Sidebar Title*/
.sidebar-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}
.right-sidebarh4{
    font-size: 16px;
    font-weight: 600;
}
.sidebar-title a{
    text-decoration: none;
    color: #1876f2;
    font-size: 12px;
}

/*Event*/
.event{
    display: flex;
    margin-bottom: 20px;
    font-size: 14px;
}
.left-event {
    border-radius: 10px;
    height: 65px;
    width: 65px;
    margin-right: 15px;
    padding-top: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.event p{
    font-size: 12px;
}
.event a{
    font-size: 12px;
    color: #1876f2;
    text-decoration: none;
}

.left-event span{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #1876f2;
    color: #fff;
    font-size:10px ;
    padding: 4px 0;
}
.right-event img{
    width: 15px;
    margin-right: 3px;
}

/*sidebar-title*/
.sidebar-ads{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 4px;
}

/*Users*/
.online-list{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.online-list .online img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.online-list .online{
    width: 40px;

    border-radius: 50%;
    margin-right: 15px;
}
.online-list .online ::after{
    top: unset;
    bottom: 5px;
}


/* main-content */
.story-gallery{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.story{
    flex-basis: 18%;
    padding-top: 32%;
    position: relative;
    background-image:linear-gradient(transparent,rgba(5, 2, 2, 0.897)), url(img/Max.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
.story img{
    position: absolute;
    width: 35px;
    border-radius: 50%;
    top: 3px;
    left: 2px;
    border: 2px solid #1876f2;
}
.story p{ 
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 14px;
}
.story1{
    background-image:linear-gradient(transparent,rgba(5, 2, 2, 0.897)), url(img/Max.jpg);
}
.story2{
    background-image:linear-gradient(transparent,rgba(5, 2, 2, 0.897)), url(img/user1.jpg);
}
.story3{
    background-image:linear-gradient(transparent,rgba(5, 2, 2, 0.897)), url(img/user2.jpg);
}
.story4{
    background-image:linear-gradient(transparent,rgba(5, 2, 2, 0.897)), url(img/advertising-strategy.jpg);
}
.story5{
    background-image:linear-gradient(transparent,rgba(5, 2, 2, 0.897)), url(img/user3.jpg);
}
.story.story1 img{
    top: unset;
    left: 50%;
    bottom: 30px;
    transform: translatex(-50%);
    border: 0;
    width: 25px;
}



/*------------*/
.write-post-container{
    width: 100%;
    background: var(--bg-color);
    border-radius: 6px;
    padding: 20px;
    color: var(--font-color);
}
.user-profile{
    display: flex;
    align-items: center;
}
.user-profile img{
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}
.user-profile p{
    margin-bottom: -5px;
    color: var(--font-color);
    font-weight: 500;
}
.user-profile small{
    font-size: 12px;
}
.user-profile small img{
    width: 10px;
    margin-top: 10px;
    margin-left: 10px;
}


.post-input-container{
    padding-left: 55px;
    padding-top: 20px;
}
.post-input-container textarea{
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    background: transparent;
    resize: none;
}
.add-post-link{
    display: flex;
    margin-top: 10px;
}
.add-post-link a{
    text-decoration: none;
    display: flex;
    color:var(--font-color);
    font-size: 10px;
    align-items: center;
    margin-right: 30px;
}
.add-post-link a img{
    width: 20px;
    margin-right: 10px;
}



.post-container{
    width: 100%;
    padding: 20px;
    border-radius: 6px;
    margin: 20px 0;
    color:var(--font-color);
    background: var(--bg-color);
}
.user-profile span{
    font-size: 13px;
    color: #9a9a9a;
}


.post-text{
    color: #9a9a9a;
    margin: 15px 0;
    font-size: 13px;
}
.post-text span{
    color: #626262;
    font-weight: 500;
}
.post-text a{
    color: #1876f2;
    text-decoration: none;
}


.post-img{
    width: 100%;
    border-radius: 4px;
    margin-bottom: 5px;
}


/* Start Poste */
.post-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.activity-icon div{
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
}
.activity-icon div img{
    margin-right: 10px;
    width: 18px;
}
.post-profile-icon{
    display: flex;
    align-items: center;
}
.post-profile-icon img{
    width: 20px;
    border-radius: 50%;
    margin: 5px;
}
/* End Poste */

/* Button */
.load-more-btn{
    display: block;
    margin: auto;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #9a9a9a;
    background: transparent;
    color: var(--font-color);
    border-radius: 4px;
}



/* settings-menu */
.settings-menu{
    position: absolute;
    width: 90%;
    max-width: 280px;
    background:var(--bg-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    overflow: hidden;
    top: 100%;
    right: 1%;
    max-height: 0;
    transition: max-height 0.3s;
}
.settings-menu-height{
    max-height: 450px;
}
.user-profile a{
    font-size: 12px;
    color: #1876f2;
    text-decoration: none;
}
.user-profile img{
    width: 30px;
}
.settings-menu-inner{
    padding: 10px;
}
/* ----- hr ----- */
.settings-menu hr{
    border: 0;
    height: 1px;
    background: #9a9a9a;
    margin: 10px 0;
}
/* ----- settings-link ------ */
.settings-link{
    display: flex;
    align-items: center;
    margin: 15px 0;
}
.settings-link .setting-icon{
    width: 18px;
    margin-right: 10px;
    border-radius: 50%;
}
.settings-link a{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: var(--font-color);
}


/* settings-menu */


/* Footer */
.footer{
    text-align: center;
    padding: 10px 0 20px;
    color: var(--font-color);
    font-size: 13px;
}

/* ----- dark Button ------ */
#dark-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    background: #ccc;
    width: 45px;
    border-radius: 15px;
    padding: 2px 3px;
    cursor: pointer;
    display: flex;
    transition:padding-left 0.5s , background 0.5s ;
}
#dark-btn span{
    width: 18px;
    height: 18px;
    background: #fff;
    border-radius: 50%;
    display: inline-block;
}
#dark-btn.dark-btn-on{
    padding-left: 23px;
    background: rgb(65, 63, 63);
}
